 /* imports */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
 
:root {
    --cor-texto: #544541;
  }

 body{
    background-color: #F6F3EE;
    color: var(--cor-texto);
    margin: 0;
 }
 .abas{
    border-bottom: 2px solid  var(--cor-texto);;
    background-color: #C4A092;
    display: flex;
    font-family: "EB Garamond", serif;;
}
.lista{
    display: flex;

}
.lista-item{
    padding: 0  20px;
}

ul li{
    list-style: none;
    border-right: 1px solid  var(--cor-texto);;;
}
a{
     color: var(--cor-texto);
    text-decoration: none;
}

.div-lista{
    position: fixed;
    right: 0;
}

.titulo-aba{
    margin: 25px;

}
.seila{
    display: flex;
    flex-direction: row;
}

.cafe{
    width: 500px;
    margin-left: 500px;
}

.titulo{
    font-size: 40px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 1024px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 1728px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }