 /* imports */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
 


 body{
    background-color: #F6F3EE;
    color: #544541;
    margin: 0;
 }
 .abas{
    background-color: #C4A092;
    display: flex;
    font-family: "EB Garamond", serif;;
}
.lista{
    display: flex;

}
.lista-item{
    padding: 0  20px;
}

ul li{
    list-style: none;
}
a{
    color: #544541;
    text-decoration: none;
}

.div-lista{
    position: fixed;
    right: 0;
}

.titulo-aba{
    margin: 25px;

}