 body{
    background-color: #F6F3EE;
    color: #544541;
 }
 .abas{
    background-color: #C4A092;
    display: flex;
}
.lista{
    display: flex;

}
.lista-item{
    padding: 0  20px;
}

ul li{
    list-style: none;
    align-items: center;
}
a{
    color: #544541;
    text-decoration: none;
}